.tabButton.active {
    color: #e67300;
    border: 2px solid #e67300;
}

.bannerButton {
    color: #e67300 !important;
    border: 2px solid #e67300 !important;
    padding: 0.5em 0.7em !important;
}

.bannerButton:hover {
    color: #fff !important;
    background-color: #e67300 !important;
    padding: 0.5em 0.7em !important;
}

.blurBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    filter: blur(5px);
    opacity: 1;
    background-position: center;
    z-index: -999999;
    transform: scale(1.02);
}